header, main{
    display: flex;
   flex-direction: column;
    align-items: center;
}
button{
    width: 80px;
    margin: 5px;
}
.perspectiva{
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
    color: #000000;
    display: block;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:1px 1px 0 #FFF;
    padding: 5px 15px;
    position: relative;
    width: 120px;
}
.botao01:hover{
    background-color: #fff;
}
.botao01{
    background-color: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background-color: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background-color: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background-color: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background-color: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
   }
H1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Box-all-buttons{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Box-buttons{
    margin: 15px;
    background-color: rgb(247, 247, 247);
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.Box-only-button{
    margin: 15px;
    background-color: rgb(247, 247, 247);
    width: 120px;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.dark-mode{
    background-color: #000;
    color: #fff;
}
.dark-mode:hover{
    background-color: rgb(141, 141, 141);
}
.light-mode{
    background-color: #fff;
}
